@import "tailwindcss";
@config "./tailwind.config.js";


@font-face {
  font-family: "Spartan";
  src: url("../public/fonts/Spartan/Spartan-Bold-Optimized.woff");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

/* @theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  --color-osu-beaver-orange": "#D73F09",
  --color-osu-luminance": "#FFB500",
  --color-osu-candela": "#FDD26E",
  --color-osu-pine-stand": "#4A773C",
} */