@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Spartan";
  /* src: url("../public/fonts/Spartan/Spartan-Bold.ttf"); */
  src: url("../public/fonts/Spartan/Spartan-Bold-Optimized.woff");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
